@use 'base/variables' as v;
@use 'base/mixins' as m;

.us{
    @include m.tablet {
        @include m.grid(2,0);
    }

    &__info{
        height: 42rem;
        max-width: 85%;
        margin: 0 auto;
        padding: 6rem 0;

        @include m.tablet {
            padding: 8rem 8rem 0 5rem;
            &--primero{
                grid-column: 1/2;
                grid-row: 1/2;
            }
        } 

        @include m.desktop {
            height: auto;
            padding: 17rem 8rem 0 5rem;
            
            &--primero{
                padding: 17rem 5rem 0 8rem;
            }
        }
        
    }

    &__image{
        height: 33rem;
        @include m.tablet {
            height: 60rem;
        }
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        &--yellow{
            background-image: url(../img/mobile/image-transform.jpg);
            @include m.tablet {
                background-image: url(../img/desktop/image-transform.jpg);
                grid-column: 2/3;
            }
        }
        &--red{
            background-image: url(../img/mobile/image-stand-out.jpg);
            @include m.tablet {
                background-image: url(../img/desktop/image-stand-out.jpg);
            }
        }
    }

    &__heading{
        text-align: center;
        color: v.$primario;
        font-weight: 900;
        @include m.tablet {
            text-align: left;
        }
    }

    &__description{
        text-align: center;
        margin-top: 2rem;
        line-height: 1.6;
        color: v.$gris; 
        font-size: 1.8rem;
        @include m.tablet {
            text-align: left;
            font-size: 1.6rem;
        }
    }
    &__link{
        margin-top: 3rem;
        text-align: center;
        display: block;
        color: v.$primario;
        text-transform: uppercase;
        font-family: v.$fuente_secundaria;
        font-weight: 900;
        @include m.tablet {
            text-align: left;
            margin-top: 5rem;
        }
        &:after{
            content: '';
            display: block;
            height: .6rem;
            width: 13rem;
            margin: 0 auto;
            @include m.tablet {
                margin: 0;
            }
            transition: background-color 100ms ease-in-out;
        }
        &--yellow{
            &:after{
                background-color: lighten(v.$amarillo, 30%) ;
            }
            &:hover:after{
                background-color: v.$amarillo;
            }
        }
        &--red{
            &:after{
                background-color: lighten(v.$rojo, 10%) ;
            }
            &:hover:after{
                background-color: v.$rojo;
            }
        }
    }
} 