// Fuentes
$fuente_principal: 'Barlow', sans-serif;
$fuente_secundaria: 'Fraunces', serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$primario: hsl(212, 27%, 19%);
$azulTransparente: rgba(143, 207, 250, 0.678);
$rojo: hsl(7, 99%, 70%);
$amarillo: hsl(51, 100%, 49%);
$verde: hsl(167, 40%, 24%); //(graphic design text)
$azul: hsl(198, 62%, 26%); //(photography text)
$cyan: hsl(168, 34%, 41%); //(footer)

$gris: hsl(213, 9%, 39%);
$gris2 :hsl(232, 10%, 55%);
$gris3: hsl(210, 4%, 67%);
$blanco: hsl(0, 0%, 100%);

$separacion: 5rem;