@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimonial{
    margin: 7rem 0;
    @include m.tablet {
        margin-bottom: 11rem;
    }
    &__photo{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        margin: 0 auto;
    }
    &__info{
        margin-top: 3rem;
        line-height: 1.8;
        text-align: center;
        color: v.$gris;
    }
    &__author{
        text-align: center;
        margin-top: 3rem;
    }
    &__name{
        font-family: v.$fuente_secundaria;
        font-weight: 900;
        color: v.$primario;
    }
    &__occupation{
        margin-top: 1rem;
        color: v.$gris3;
    }
}